<%= react_component('Map', props: {user_id: current_user.id}, prerender: false)%>
<div class="noscroll" id="titleboxmap">
<h1 id= "maptitle" font-color="whitesmoke"  > Favors in your area!</h1>
</div>