<h1 font-color="white" align="center" style="background-color: teal;" text-light>Favors Near You</h1>


<%= react_component 'Map',
    props:  { 
              coordinates: @coordinates,
              currentUser: current_user
            } 
%>