<h1 id="newfavortitle"> New Favor</h1>
<%= render 'form', favor: @favor %>

<%# Navigation Bar Structure Below %>

  <footer class="navbar navbar-fixed-bottom navbar-inverse" style="background-color: teal;">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-center" style="background-color: teal;">
            <li><%= link_to "Home",   profiles_path %> </li>
            <li><%= link_to "Map", favors_path, id: "logo" %> </li>
            <li><%= link_to "New Favor", new_favor_path, id: "logo" %> </li>
            <li><a rel="nofollow" data-method="delete" href="/users/sign_out">Log Out</a></li>
          </ul>
        </nav>
      </div>
    </footer>