<div class="backgrdiv">
<div class="NewFavPageComp" >
<h1 id="newfavortitle"> What do you need help with? </h1>

<table>
<thead>
     <tr class="justabackgroundturq">
      
      <th  class="favorassist">
      
      <div class="favorform">
    <%= render 'form', favor: @favor %>
    </div></th>

    <th  >
      <div>
        <ul class="card mr-auto">
            <span><li class="iconsnewpage"><p><h6>Muscle:</h6>  (carrying, lifting, strength related tasks etc.) </p><p class="lifting"></p></li>
            <li class="iconsnewpage"><p><h6>Companionship:</h6> (walkers, buddies, emotional support tasks etc.)</p><p class="companionship"></p></li>
            </span>
            <li class="iconsnewpage"><p><h6>Looking for:</h6> (looking for something/someone you've lost)</p><p class="searching"></p></li>
            <li class="iconsnewpage"><p><h6>Cleaning:</h6> (car, spill, accident etc.)</p><p class="cleaning"></p></li>
            <li class="iconsnewpage"><p><h6>Expertise / Support:</h6> Find a professional of any field near you! </p><p class="expertise"></p></li>
        </ul>
      </div>
      
      </th>
    </tr>

  <%# </thead>
  <tbody>
<div>
       <ul id="lilchubber">
            
            <li><p>Muscle - Carrying, Lifting, strength related tasks </p><p class="lifting"></p></li>
            <li><p>Companionship - Walkers, buddies, emotional support tasks</p><p class="companionship"></p></li>
            <li><p>Looking for (Looking for something/someone you lost)</p><p class="searching"></p></li>
            <li><p>Cleaning: (Car, Spill, accident)</p><p class="cleaning"></p></li>
            <li><p>Expertise Support: </p><p class="expertise"></p></li>
        </ul>
      </div> %>
   <%# <div class="favorform">
    <%= render 'form', favor: @favor %>
    <%# </div> %> 
</span>
</div>

