<div class="btn-group dropleft">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Notifications
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <ul>
        <%  Notification.joins( :favor ).where(user_id: current_user.id).order(created_at: :desc).each do |n| %>
            <li><%= User.find(n.performer_id).profile.name %> wants to help you with <%= n.favor.category %></li>
        <% end %>
    </ul>
  </div>
</div>