/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* 
 html {
   height: 1vh;
   
 } */
 .alert {
 position: relative;
 padding: 1rem 1.25rem;
 margin: 0px;
 border: 1px solid transparent;
 border-radius: .15rem;
 }
 .app-body {
  background: linear-gradient(to bottom, #00ffff 0%, #00ff99 100%);
  
 }
 .app-body2 {
  background: linear-gradient(to bottom, #00ffff 0%, #00ff99 100%);
  height: -webkit-fill-available;
 }

* {
  font-family: 'Montserrat'
}
div#fulllogin.row {
  background-color: transparent;
}
.pagemaintitle {
  text-shadow: 2px 2px black;
  text-align: center;
  justify-content: inherit;
  margin: 0px 0rem 20px 0rem;
  padding: 8px 5px;
  border-radius: 0% 0% 43% 43%;
  background-color: teal;

}

#link_id {
  text-decoration: none;
  color: black;
}

#link_id:hover {
  color: white;
}
.main{
  text-align: center;
}


.mainlogin {
  background: linear-gradient(to bottom, #00ffff 0%, #00ff99 100%);
  text-align: center;

}
.mainlogin h2{
  color: teal;
  font-weight: bolder
}

#fulllogin {
  background: linear-gradient(to bottom, #00ffff 0%, #00ff99 100%);
}
.action input[type=submit] {
  height: 40px;
  width: 50%;
}
/*//Nav Bar Styling below 
} */
#dropdownMenuButton {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;

  margin: 7px 0px 3px 15px;
}

nav.navbar {
  margin-bottom: 0
}

.navbarlogo {
  overflow:clip;
  width: 60px;
  height: 60px;
  margin: -8px 34px 0px -15px;
  float: left;
  background: linear-gradient(to bottom, #00ffff 0%, #00ff99 100%)
}
a.nav-item {
  color: white;
  margin: 5px 8px 0px 8px ;
  padding: 5px;  
}
li.nav-item { 
  margin: 10px 10px 0px 5px;
  justify-content: inherit;
}