// Place all the styles related to the favors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field  {
    width: fit-content;
    text-align: center;
    width: 100;
    margin: 10px;
    padding: 10px;
    border: solid 4px turquoise; 
    background-color: whitesmoke; 
} 
h2 {
    color: white;
}
a#link_id {
    color: white;
}
#remberme {
    border: 0px;
    background-color: teal;
}
#navbarmain {text-align: center;

    }
    
#newfavorcomplete {
    border: solid 5px turquoise;
}
#newfavortitle {
    margin: 3px;
    padding: 8px 5px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Droid Sans Mono';
    background-color: teal;
   
}

#newfavcat {
    text-align: center;
}

// when width is under 768 {
//     #navbar {
//         width: 60%;
//         height: 60;
//     }
// }

a.mapboxgl-ctrl-logo { visibility: hidden;
    
}
h1 {margin: 0px;}
.mapboxgl-ctrl.mapboxgl-ctrl-attrib {visibility: hidden;

}

.favortypes{
    position: absolute;
    right: 0;
    width: 250px;
    height: 270px;   
}

.favorform {
    width: 30%;
    float: left;
    text-align: right;
}
