// Place all the styles related to the favors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field  {
    width: fit-content;
    text-align: center;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: solid 4px turquoise; 
    background-color: whitesmoke; 
} 

#lilchubber {
    width: 40vh;
}
.field input {
    width: 100%;
}

#linkies {
    color: teal;
}
#remberme {
   border: 0px; 
   background-color: transparent;
   color: teal;
   font-weight: bolder;
}
#navbarmain {text-align: center;

    }
.favordisplayed {
    background: linear-gradient(to bottom, #00ffff 0%, #00ff99 100%)
}



#maptitle {
   
    text-align: center;
    font-style: bold;
    padding: 10px;
    padding-bottom:300vw;
    background-color: teal;
}

#titleboxmap {
align-content: flex-end  ;
}
#newfavorcomplete {
    border: solid 5px turquoise;
}
#newfavortitle {
    margin: 0px 0px 12px 0px;
    padding: 8px 5px;
    border-radius: 0% 0% 43% 43%;
    text-align: center;
    font-family: 'proxima-nova,helvetica,arial,sans-serif!important;';
    background-color: teal;
   
}
#NewFavPageComp  {
    display: inline-block;
   
    background: linear-gradient(to bottom, #00ffff 0%, #00ff99 100%)
}
#newfavcat {
    text-align: center;
}
p#categorypopup
p#popupaddress {
    margin: 0px 7px 0px 7px; 
    font-size-adjust: 60%;
} 
div.mapboxgl-popup-content {
    border-radius: 7px;
    background: linear-gradient(to bottom, #00ffff 0%, #00ff99 100%);
    box-shadow: 5px 11px 2px rgba(0, 0, 0, 0.1);
}
// when width is under 768 {
//     #navbar {
//         width: 60%;
//         height: 60;
//     }
// }

a.mapboxgl-ctrl-logo { visibility: hidden;
    
}
h1 {margin: 0px;}
.mapboxgl-ctrl.mapboxgl-ctrl-attrib {visibility: hidden;

}

button.mapboxgl-popup-close-button {
    position: fixed;
    right: -5px;
    top: -3px;
    border: 0;
    border-radius: 0 3px 0 0;
    background-color: transparent
}
.map-popup {
    text-transform: capitalize;
    opacity: 0.95;
    padding:4.6px;
    font-family: 'Helvetica';
    border: 2px teal;
    border-radius: 4px;
    background-color: whitesmoke;
}
#categoryaddress {
    color: darkgray;
    text-align: right;

}
#categorypopup {
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}
  

.favortypes{
    position: absolute;
    right: 0;
    width: 250px;
    height: 480px; 
    background: linear-gradient(to bottom, #00ffff 0%, #00ff99 100%);  
}

.favorform {
    width: 40%;
    border-radius:5px;
   border: 2px double turquoise;
    text-align: right;
    background: linear-gradient(to bottom, #00ffff 0%, #00ff99 100%);
}

#h11{
text-align: center;
}
#h33{
text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

.justabackground {
   height: 100vh;
    background: linear-gradient(to bottom, #00ffff 0%, #00ff99 100%)
}

.justabackgroundturq {
    background: turquoise;

}
td.text-left {
    text-align:center;
    text-transform: capitalize;
}
th.text-left {
    text-align:center;
}
.capitalizeme {
    text-transform: capitalize;
}
.showmedafava {
    margin: 10px 20px 10px 20px;
    border: 2px solid turquoise;
    border-radius: 7px;
    
}
form {
    border-radius: 5px;
    border: 2px solid turquoise;
    background: linear-gradient(to bottom, #00ffff 0%, #00ff99 100%)
}}