// Place all the styles related to the favors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field  {
    width: fit-content;
    text-align: center;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: solid 4px turquoise; 
    background-color: whitesmoke; 
} 
.navbar  {
    padding: 8px 16px 0px 15px;
}

html, body {
    min-height: 100%;
}

label {
    margin: 8px;
    display: inline-block;
    margin-bottom: 0.5rem;
}
ul.card.mr-auto {
    list-style: none;
    text-align:left;
    font-size: 13px;
    margin: 17px 2px 5px 2px;
    padding: 0px;
}
.lifting p{
    text-align: right;
}
#lilchubber {
    width: 40vh;
}
.field input {
    width: 100%;
}
h6 {
    font-weight:bolder;
    text-decoration: underline;
}

.custom-select {
    margin-top: -24px;
    text-transform: capitalize;
    background-color: whitesmoke;
}
#linkies {
    color: teal;
}
#remberme {
   border: 0px; 
   background-color: transparent;
   color: teal;
   font-weight: bolder;
}
#navbarmain {text-align: center;

    }
.favordisplayed {
    background: linear-gradient(to bottom, #00ffff 0%, #00ff99 100%)
}


#maptitle {    
    margin-top:0;
    position: static;
    text-align: center;
    padding: 9px;
    padding-bottom: 200vh;
    background-color: teal;
    bottom: 0;
    width: 100%;
}

#titleboxmap {
align-content: flex-end  ;
}
#newfavorcomplete {
    border: solid 5px turquoise;
}

#newfavortitle {
    text-shadow: 2px 2px black;
    text-align: center;
    margin: 0px 0rem 0px 0rem;
    padding: 0px 0px;
    border-radius: 0% 0% 43% 43%;
    
    font-family: 'Montserrat';
    background-color: teal;
   
}
#NewFavPageComp  {
    display: inline-block;
    height: 100vh;
    background: linear-gradient(to bottom, #00ffff 0%, #00ff99 100%)
}
#newfavcat {
    text-align: center;
}
p#categorypopup{
    color: darkblue;
}
p#popupaddress {
    margin: 0px 7px 0px 7px; 
    font-size-adjust: 60%;
} 
div.favorform {    
    margin: 0px;
    margin-bottom: auto;
    width: auto;
    height: auto;
    padding: 0px 14px 91px 0px;
}
.text_input {
    background-color: whitesmoke;
}
div.mapboxgl-popup-content {
    border-radius: 7px;
    background: linear-gradient(to bottom, #00ffff 0%, #00ff99 100%);
    box-shadow: 5px 11px 2px rgba(0, 0, 0, 0.1);
}
// when width is under 768 {
//     #navbar {
//         width: 60%;
//         height: 60;
//     }
// }

a.mapboxgl-ctrl-logo { visibility: hidden;
    
}
h1 {margin: 0px;}
.mapboxgl-ctrl.mapboxgl-ctrl-attrib {visibility: hidden;

}

#claimitguy {
    height: 5rem;
    width: 5rem;
}
button.mapboxgl-popup-close-button {
    position: fixed;
    right: -5px;
    top: -3px;
    border: 0;
    border-radius: 0 3px 0 0;
    background-color: transparent
}
.map-popup {
    text-transform: capitalize;
    opacity: 0.95;
    padding:4.6px;
    font-family: 'Helvetica';
    border: 2px teal;
    border-radius: 4px;
    background-color: whitesmoke;
}
#categoryaddress {
    color: darkgray;
    text-align: right;

}
#categorypopup {
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}
.iconsnewpage {
    text-align:-webkit-left;
}
table {
    margin: 0 auto;
    position: static;
    align-content: center;
}
.favortypes{
    position: static;
    right: 0;
    width: 250px;
    height: 480px; 
    background: linear-gradient(to bottom, #00ffff 0%, #00ff99 100%);  
}

.favorform {
    width: 40%;
    border-radius:5px;
   height: 100%;
    text-align: right;
    background-color: transparent;
}

#h11{
text-align: center;
}
#h33{
text-align: center;
}
.centerbutton {
    color: #ffc107;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

// All of this stuff fucks up the creat ne favor page style

// .justabackground {
//    height: 100vh;
//     background: linear-gradient(to bottom, #00ffff 0%, #00ff99 100%)
// }

// .justabackgroundturq {
//     background: turquoise;

// }
// td.text-left {
//     text-align:center;
//     text-transform: capitalize;
// }
// th.text-left {
//     text-align:center;
// }
// .capitalizeme {
//     text-transform: capitalize;
// }
// .showmedafava {
//     // margin: 10px 20px 10px 20px;
   
//     border-radius: 7px;
    
// }
// form {
//     border-radius: 5px;
//     border: 2px solid turquoise;
//     background: linear-gradient(to bottom, #00ffff 0%, #00ff99 100%)
// }



@media screen and (max-width: 768px){
    #lilchubber {
     float: left;
     margin-right: 10%;
     padding-right: 0%;
     border: 1px;
     width: 187px;
     font-size: 12px;
    }
    #postcategory {
        background-color: whitesmoke;
    }
} 