// Place all the styles related to the FavorBrowser controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#favorbrowser {
   
    margin: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 5px; 
    background-color: rgb(21, 184, 184);
    margin-right: 10px;
}
#backgrdivr {
    margin: 4px 15px 2px 15px;
    background: linear-gradient(to bottom, #00ffff 0%, #00ff99 100%);
   }

   .favrbrwsrtitles {
    margin: 0px 3px 8px 0px;
    text-transform: capitalize;

}
td.text-left-title {
    text-transform: capitalize;
}