.mapboxgl-marker {
  background-image: url('https://i.imgur.com/nHO6Z7F.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.navbar-inverse .navbar-nav>li>a {
  color: white;}
h1 {
  color: white;}