/* .mapboxgl-marker {
  background-image: url('https://i.imgur.com/nHO6Z7F.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
} */
.navbar-inverse .navbar-nav>li>a {
  color: white;}
h1 {
  color: white;}


  .navbar-inverse .navbar-nav>li>a {
    color: white;}
  h1 {
    color: white;}
.lifting {
  background-image: url("https://png.icons8.com/ultraviolet/50/000000/flex-biceps.png");
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 0px;
}
.liftingnewfav {
  background-image: url("https://png.icons8.com/ultraviolet/50/000000/flex-biceps.png");
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 0px;
  margin-left: 29px;
}

.companionship {
  background-image: url("https://png.icons8.com/nolan/50/000000/handshake.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 0px;
}
.companionshipnewfav {
  background-image: url("https://png.icons8.com/nolan/50/000000/handshake.png");
  background-size: cover;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 0px;
  margin-left: 97px;
}

.searching {
  background-image: url("https://mbtskoudsalg.com/images/magnifying-glass-png-no-background-6.png");
  background-size: cover;
  -webkit-transform: scaleX(-1);
  width: 43px;
  height: 43px;
  border-radius: 30%;
  cursor: pointer;
  margin-bottom: 0px;
}
.searchingnewfav {
  background-image: url("https://mbtskoudsalg.com/images/magnifying-glass-png-no-background-6.png");
  background-size: cover;
  -webkit-transform: scaleX(-1);
  width: 43px;
  height: 43px;
  border-radius: 30%;
  cursor: pointer;
  margin-bottom: 0px;
  margin-left: 74px;
}

.cleaning {
  background-image: url("https://png.icons8.com/office/40/000000/broom.png");
  background-size: cover;
  width: 40px;
  -webkit-transform: scaleX(-1);
  height: 40px;
  border-radius: 35%;
  cursor: pointer;
  margin-bottom: 0px;

}
.cleaningnewfav {
  background-image: url("https://png.icons8.com/office/40/000000/broom.png");
  background-size: cover;
  width: 40px;
  -webkit-transform: scaleX(-1);
  height: 40px;
  border-radius: 35%;
  cursor: pointer;
  margin-bottom: 0px;
  margin-left: 36px;
}

.expertise {
  background-image: url("https://png.icons8.com/dusk/40/000000/development-skill.png");
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 0px;
  margin-left: 30px;
}
.expertisenewfav {
  background-image: url("https://png.icons8.com/dusk/40/000000/development-skill.png");
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 0px;
  margin-left: 61px;
}


/* https: //png.icons8.com/nolan/50/000000/handshake.png
https: //png.icons8.com/material/50/000000/search-more.png */
/* https://png.icons8.com/office/40/000000/broom.png */
/* "https://png.icons8.com/dusk/40/000000/development-skill.png" */
