 * {
    
    font-weight: bolder;
}
.card {
    background-color: transparent;
    border: 0px;

}
.profiletext {
    font-size: large;
    font-weight: bolder;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: right;
    min-width: 300px;
    padding: 5px 0;
    margin: 10px;
    font-size: 11px;
    list-style: none;
    text-align: left;
    background-color: ghostwhite;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 10px;
}
div.favorlist {
    margin: 5px;
}
.container {
    padding-right: 0px;
    padding-left: 0px;
}
div.profileinfo {
     
    justify-content:center;
   
}

div.profileinfocontent {
    width: 300px;
    // box-shadow: 7px 7px teal;
    justify-content: center
}

h1.pagemaintitle {
    text-shadow: 2px 2px black;
    justify-content: inherit;
    margin: 0px 0rem 15px 0rem;
    padding: 0px 0px;
    border-radius: 0% 0% 43% 43%;
    text-align: center;
}
#nameprofile {
    margin: 2px;
    text-align: center;
    background-color: teal;
    border-radius: 0% 0% 43% 43%;
    box-sizing: content-box;
}
tr.favorassist {
    color: saddlebrown;
    justify-content: center;
    text-align:center;
    text-shadow: 2px;
    font-style: bold;
    text-transform:capitalize;
}
#mainprofile { 
    box-shadow: 0 0 1em 1em #ccc;
    width: auto;
    margin: 5px 40px ;
    display: flex;
    align-content: center;
    border: 4px solid turquoise;
    border-radius: 10px;
}
#listgroup {
    margin: 10px;
    justify-content: inherit;
    text-align: center;
    padding: 10px;
    border-radius: 10px; 
    background-color: rgb(21, 184, 184);
}


.favorlist {
    box-shadow: 4px 7px teal;
    text-align: center;
    border-radius: 10px; 
    width:  center 300px;
    border: 10px solid turquoise;
    padding: 10px;
    margin: 10px;
    box-sizing: content-box;
    background-color: whitesmoke;
}
.favorlist h4 {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: bold; 
    color: brown }
#favorscompleted {
    box-shadow: 4px 7px teal;
    text-align: center;
    border-radius: 10px; 
    width:  center 150px;
    border: 10px solid turquoise;
    padding: 10px 10px;
    margin: 10px 10px ;
    box-sizing: content-box;
    background-color: whitesmoke
}

.list-group-item {
    
    color: white;
    background-color: rgb(21, 184, 184);
}

.needquickfvtxt {
    width: 100px;
}
#searchfavorbar {
    margin: 0px 60px 0px 60px;
    justify-content: center;
    padding: 10px;
    text-align: center;
    width:  auto;
    height: auto;
    background-color: turquoise;
}

.table {
    text-align: center;
}

#navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 30px;
    align-items: center;
}

// MOBILE RESPONSIVENESS BELOW 


@media screen and (max-width: 370px){
    .list-group-item {
        float: left;
        margin-left: 1%;
        width: 140%;
        color: white;
        background-color: rgb(21, 184, 184);
    }
    .profilepic {
        float :right;
        margin-right: 7%;
        width:180px;
        height:180px;
        margin-top: 20px;
    }
    #searchfavorbar {
        margin: 0px 10px 0px 10px;
        justify-content: center;
        padding: 10px;
        text-align: center;
        width:  auto;
        height: auto;
        background-color: turquoise;
    }
    .dropdown-menu {
        float: left;
    }
    #dropdown-menu {
        float: left;
    }

    /// FAVOR LIST STYLING BELOW

    .text-align-center {
        color: darkgoldenrod;
        text-align: center;
        align-items: center;
        align-content: center;
    }
    a.btn.btn-danger{
        text-transform: capitalize;
    }
    #favorlist {
        border-spacing: length;
        box-shadow: 4px 7px teal;
        text-align: justify;
        border-radius: 10px; 
        width:  center 300px;
        border: 10px solid turquoise;
        padding: 10px;
        margin: 10px;
        box-sizing: content-box;
        background-color: whitesmoke;
        font-size: 12px;
    }
    #favorlist h4 {
        font-family: 'Montserrat';
        font-style: bold; 
        font-weight: bolder;
        color: brown }

    tr.favorassist {
        justify-content: center;
        text-align:center;
        font-size:13px;
        text-shadow: 2px;
        
        text-decoration: underline;
       
    }
    // .favorassistt{
    //     font-size: 12px;
    //     padding: 1px, 1px, 1px, 1px;
    //     text-align: center;
    // }
}