<h1 font-color="white" align="center" style="background-color: teal;" text-light>Favors Near You</h1>
<p><%= @foo %></p>
<pre><%= @favor %></pre>
<% @methods.each do |item| %>
<p><%= item %></p>

<% end %>